AplicacionGoogleDrive/Connected Services/ServiceGoogleDrive/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioGoogleNube" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioGoogleNube" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGoogleDriveFiles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoogleDriveFiles" nillable="true" type="tns:GoogleDriveFiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoogleDriveFiles" nillable="true" type="tns:ArrayOfGoogleDriveFiles" />
  <xs:complexType name="GoogleDriveFiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoogleDriveFiles" nillable="true" type="tns:GoogleDriveFiles" />
</xs:schema>